<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>{{screamIt WelcomeMessage}}</p>
    {{!-- {{name-of-helper argument}}  : 스페이스로 구분한다.
    한 칸 뛰어쓰면서 연이어서 다른 argu를 전달할 수 있다.--}}

    {{> footer}}
</body>
</html>